@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #474747;
}

html{
    scroll-behavior: smooth;
}

.container {
    max-width: 85%;
}

.home {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.home-background {
    position: absolute;
    z-index: -1;
    opacity: 20%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.home-background video {
    width: 100%;
    object-fit: fill;
    object-position: center;
    overflow: hidden;
}

.home-content {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-content div p {
    color: #fff;
    font-size: 30px;
}

.home-content div h1 {
    color: #ffab48;
    font-size: 60px;
    font-weight: 900;
}

.home-content div small {
    color: #fff;
    font-size: 25px;
    margin-top: 0;
}

.text-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.about-me {
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.about-me-content {
    color: #fff;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-content-img {
    background-color: #292929;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.about-me-content-img img {
    display: flex;
    width: 250px;
    bottom: 0;
    margin: 0;
}

.about-me-content-text {
    width: auto;
}

.about-me-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.about-me-links-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
}

.social-item-img {
    margin: 0 5px;
    width: 25px;
}

.cv {
    background-color: rgba(52, 165, 108, 0.719);
}

.cv:hover {
    background-color: rgb(52, 165, 108);
    transition: all 0.2s ease;
}

.github {
    background-color: #6d8d8fb4;
}

.github:hover {
    background-color: #6D8D8F;
    transition: all 0.2s ease;
}

.linkedin {
    background-color: #0a66c2a8;
}

.linkedin:hover {
    background-color: #0A66C2;
    transition: all 0.2s ease;
}

.technologies {
    display: flex;
    justify-content: center;
    background-color: #474747;
}

.technologies-content {
    margin: 20px 0;
    width: 100%;
    color: #fff;
}

.technologies-content-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    justify-content: space-between;
    margin: 20px 0;
}

.technologies-content-grid-item {
    max-width: 160px;
    background-color: #353535;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}

.works {
    display: flex;
    justify-content: center;
    background-color: #474747;
}

.works-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.works-content-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 10px;
    justify-content: left;
    grid-row-gap: 1em;
    margin: 20px 0;
}

.card {
    background-color: #353535;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: auto;
    max-width: 300px;
    color: #fff;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.tag-html {
    background-color: #E56027;
}

.tag-css {
    background-color: #27A0D4;
}

.tag-js {
    background-color: #EFD23C;
}

.tag-spring {
    background-color: #67AA3C;
}

.tag-bootstrap {
    background-color: #7911EE;
}

.tag-java {
    background-color: #E01E23;
}

.tag-mysql {
    background-color: #006F88;
}


.card-body p {
    font-size: 13px;
}

.contact {
    display: flex;
    justify-content: center;
    background-color: #474747;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    background-color: #353535;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin: 40px 0;
    padding: 30px;
    color: #fff;
    width: 100%;
}

.contact-content-item {
    display: flex;
    flex-direction: column;
}

.contact-content-item-link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    width: max-content;
}

.whatsapp {
    background-color: #42cba4b9;
}

.whatsapp:hover {
    background-color: #42CBA5;
    transition: all 0.2s ease;
}

.email {
    background-color: #106dbeb2;
}

.email:hover {
    background-color: #106EBE;
    transition: all 0.2s ease;
}

.footer {
    color: #fff;
    background-color: #353535;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffaa48a3;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 18px;
    animation: showBtn 0.3s linear;
}

@keyframes showBtn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.topBtn:hover {
    background-color: #FFAB48;
    transition: all 0.2s ease;
}

.topBtn img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1300px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 880px) {
    .home {
        height: 320px;
    }

    .home-content div p {
        font-size: 30px;
    }

    .home-content div h1 {
        font-size: 50px;
    }

    .home-content div small {
        font-size: 20px;
    }

    .about-me-content {
        align-items: flex-start;
        flex-direction: column;
    }

    .about-me-content-img img {
        max-width: 260px;
    }

    .about-me-content-text {
        margin: 20px 0;
    }

    .works-content-grid {
        grid-template-columns: repeat(2, auto);
    }

    .card {
        max-width: 100%;
    }
}

@media only screen and (min-width: 530px) and (max-width: 700px) {
    .home {
        height: 320px;
    }

    .home-background video {
        width: auto;
        height: 100%;
    }

    .home-background {
        object-fit: cover;
    }

    .home-content div p {
        font-size: 30px;
    }

    .home-content div h1 {
        font-size: 50px;
    }

    .home-content div small {
        font-size: 18px;
    }

    .about-me-content {
        align-items: flex-start;
        flex-direction: column;
    }

    .about-me-content-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-me-content-img img {
        max-width: 260px;
    }

    .about-me-content-text {
        margin: 20px 0;
    }

    .technologies-content-grid {
        grid-template-columns: repeat(3, auto);
    }

    .works-content-grid {
        grid-template-columns: repeat(2, auto);
    }

    .card {
        max-width: 100%;
    }

    .contact-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-content-item {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 530px) {
    .home {
        height: 320px;
    }

    .home-background video {
        width: auto;
        height: 100%;
    }

    .home-content div p {
        font-size: 30px;
    }

    .home-content div h1 {
        font-size: 38px;
    }

    .home-content div small {
        font-size: 18px;
    }

    .about-me-content {
        align-items: flex-start;
        flex-direction: column;
    }

    .about-me-content-img {
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-me-content-img img {
        max-width: 100%;
    }

    .about-me-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .about-me-links-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
        padding: 7px;
        color: #fff;
    }

    .technologies-content-grid {
        grid-template-columns: repeat(3, auto);
    }

    .works-content-grid {
        grid-template-columns: repeat(1, auto);
    }

    .card {
        max-width: 100%;
    }

    .contact-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-content-item {
        margin-top: 30px;
    }
}